<h3>Login with Bell</h3>

{{#if isAuthenticated}}
<p>You are logged in. <a href="/bell/logout">Click here</a> to logout.</p>

{{#if user}}
<pre>{{json user}}</pre>
{{/if}}

{{else}}
  <p><a href="/bell/facebook">Facebook</a></p>
{{/if}}
