<h3>Upload image file</h3>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/*" multiple>
  <button type="submit">Submit</button>
</form>

{{#if success}}
  {{#if raw.length}} {{!-- mutiple uploads--}}
    {{#each raw}} {{!-- loop  --}}
      <h3>{{@index}}</h3>
      {{#if this.isRejected}}
        {{!-- skip diplaying errors --}}
        <p>{{this.reason.message}}</p>
      {{else}}
        <div>
          <img width="200" height="200" src="{{this.value.publicPath}}" /> <br>
          <code>URL: {{this.value.publicPath}}</code>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    {{!-- single upload --}}
    <div>
      <img width="200" height="200" src="{{raw.publicPath}}" />
      <p><code>File uploaded to: {{raw.publicPath}}</code></p>
    </div>
  {{/if}}
  <hr>
  <pre>{{{json raw}}}</pre>
{{/if}}

{{#if error}}
  <p>Error: {{errorMsg}}</p>
{{/if}}
